#topic1 {background-color: palevioletred;
		color: white; padding: 20px; width:  50%; 




		font-style: arial;

		text-align: center;}

#topic2 {background-color: lightseagreen;
		color: white; padding: 20px; width: 50%; 




		font-style: arial;

		text-align: center;}

#topic3 {background-color: burlywood;
		color: white; padding: 20px; width:  50%; 

		font-style: arial;

		text-align: center;}

h1 {font-style: initial;}

#TITLE {font-size: 50px}

